

button:hover {
    box-shadow: 0px 0px 15px rgb(0,0,0);
}

a{
    text-decoration: none;
    color: rgb(0, 26, 255);
}
.col-sm-9{
    margin: auto;
}
.img-upload > input
{
    display: none;
}
.img{
    margin: 2rem;
    max-width: 7rem;
    max-height: 7rem;
    min-width: 7rem;
    min-height: 7rem;
    justify-content: center;
    border: 2px solid #000;
    border-radius:250px;
    align-items: center;
    cursor: pointer;
}
.icon{
    margin-right: 15px;
  
}
.logo{
    max-width: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
}
.row{
    margin: 0;
}
