

.img{

    margin: 2rem;
    width: 100px;
    height: 100px;
    justify-content: center;
    border: 2px solid #000;
    border-radius:250px;
}

.numeros{
    margin-top: 6%;
}
.background{

    height: 100vh;
    background-color: black;
    background-image: url(../../../assets/img/fondo.jpg);
    
    

}

