<section class="background">

  <div class="card m-auto" style="width: 80%;" *ngIf="visible">
    <div class="card-body m-5">

      <div class="d-flex justify-content-around flex-wrap">


        <img class="img" src="../../../assets/img/user.png">

        <p class="text-center numeros">{{user.numeroPublicaciones}} Publicaciones</p> 

        <p class="text-center numeros">{{user.numeroSeguidores}}  Seguidores</p> 

        <p class="text-center numeros">{{user.numeroSeguidos}}  Seguidos</p> 


      </div>

      <hr>

      <h5 class="card-title">{{user.userName}}</h5>

      <p class="card-text">{{user.aboutMe}}</p>

      <hr>
      
    </div>
  </div>
</section>

