<div class="separador"></div>
<div class="datosUser" *ngIf="visible">
  <div class=" datos d-flex justify-content-around flex-wrap">

    <div class="fotoPerfil text-center mt-0">

      <div class="">
        
          <img *ngIf="fotoPerfil != ''" class="img mb-1" src="{{fotoPerfil}}">
          <img *ngIf="fotoPerfil == ''" class="img mb-1" src="../../../assets/img/user.png">
          <br>
        <label for="input">
          <p class="small mt-0 mb-5"> Cambiar foto de perfil...</p>
        </label>
        <input type="file" id="input"  (change) ="obtenerFile($event)" name="fotoPerfil">
        
        <h5 class="card-title nombreUser m-auto">@{{user.userName}}</h5>
        <hr>
        <h5 class="m-auto"> Hobbie: <span *ngIf="user.hobbie">{{user.hobbie.hobbie}}</span> <span *ngIf="!user.hobbie"> No seleccionado</span> <a class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#modalHobbie"></a></h5> 
      </div>
      <hr class="d-lg-none d-xs-block">
    </div>

    <section class="infoPerfil d-flex justify-content-around flex-wrap m-auto">

      <p class="text-center numeros m-auto">{{user.numeroPublicaciones}} Publicaciones</p> 

      <p class="text-center numeros m-auto">{{user.numeroSeguidores}}  Seguidores</p> 

      <p class="text-center numeros m-auto">{{user.numeroSeguidos}}  Seguidos</p> 

    </section>

    <div class="w-100">
      <p class="card-text text-center ">{{user.aboutMe}} <a class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#modalAboutMe"></a></p>
    </div>
  </div>
  <hr>
  <app-mostrar-publicaciones *ngIf="visible" [usuario]= "user" ></app-mostrar-publicaciones>
</div>
<div class="modal fade" id="modalAboutMe" tabindex="-1" aria-labelledby="modalAboutMe" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down m-auto mt-5">
    <div class="modal-content col-8 m-auto ">
      <textarea class="mt-5 col-8 m-auto" [(ngModel)]= "aboutMe" id="aboutMe" placeholder="Introduzca su presentación..."></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)= "editarUsuario()" >Realizar cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalHobbie" tabindex="-1" aria-labelledby="modalHobbie" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down m-auto mt-5">
    <div class="modal-content col-8 m-auto">
      <select name="hobbie" [(ngModel)]="idHobbie" class="col-6 text-center m-auto mt-3 mb-3">
        
        <option *ngFor="let hobbie of listaHobbies" value="{{hobbie.idHobbie}}">{{hobbie.hobbie}}</option>
        
        </select>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)= "editarUsuario()" >Realizar cambios</button>
      </div>
    </div>
  </div>
</div>