
<div class="datosUser" *ngIf="visible">
  <div class="d-flex justify-content-around flex-wrap">

    <div class="fotoPerfil text-center">

      <div class="">
        <img *ngIf="user.fotoPerfil" class="img" src="{{transformarAImagen(user.fotoPerfil)}}">
        <img *ngIf="!user.fotoPerfil" class="img" src="../../../assets/img/user.png">
      </div>
    </div>

    <section class="infoPerfil d-flex justify-content-around flex-wrap">

      <p class="text-center numeros">{{user.numeroPublicaciones}} Publicaciones</p> 

      <p class="text-center numeros">{{user.numeroSeguidores}}  Seguidores</p> 

      <p class="text-center numeros">{{user.numeroSeguidos}}  Seguidos</p> 

    </section>
    <div>
      <h5 class="card-title">{{user.userName}}</h5>

      <p class="card-text">{{user.aboutMe}} <a class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#modalAboutMe"></a></p>
    </div>
  </div>
<hr>
  <app-mostrar-publicaciones *ngIf="visible" [usuario]= "user" ></app-mostrar-publicaciones>
</div>
<div class="modal fade" id="modalAboutMe" tabindex="-1" aria-labelledby="modalAboutMe" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down m-auto mt-5">
    <div class="modal-content col-8 m-auto ">
      <textarea class="mt-5 col-8 m-auto" [(ngModel)]= "aboutMe" id="aboutMe" placeholder="Introduzca su presentación..."></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)= "editarUsuario()" >Realizar cambios</button>
      </div>
    </div>
  </div>
</div>