
<div class="datosUser" *ngIf="visible">
  <div class="d-flex justify-content-around flex-wrap">

    <div class="fotoPerfil text-center">

      <div class="">
        <img *ngIf="user.fotoPerfil" class="img" src="{{transformarAImagen(user.fotoPerfil)}}">
        <img *ngIf="!user.fotoPerfil" class="img" src="../../../assets/img/user.png">
      </div>
    </div>

    <section class="infoPerfil d-flex justify-content-around flex-wrap">

      <p class="text-center numeros">{{user.numeroPublicaciones}} Publicaciones</p> 

      <p class="text-center numeros">{{user.numeroSeguidores}}  Seguidores</p> 

      <p class="text-center numeros">{{user.numeroSeguidos}}  Seguidos</p> 

    </section>
    <div>
      <h5 class="card-title">{{user.userName}}</h5>

      <p class="card-text">{{user.aboutMe}} <a class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#modalAboutMe"></a></p>
    </div>
  </div>
<hr>
  <div class="d-flex flex-wrap justify-content-around"> 
    
    <div class="card" style="width: 18rem;" *ngFor="let publi of publicaciones">
      <div class="card-head"> 
        <p  class="text-white"> {{publi.autor.userName}}</p>
        <p class="small  text-white"> {{publi.fechaPublicacion}}</p>
        </div>
      <img src="{{transformarAImagen(publi.imagen)}}" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center">
        <p class="card-title  text-white">{{publi.likes}} Likes</p> 
        <i class="bi bi-heart" (click)="darLike()" *ngIf="!like"></i>
        <i class="bi bi-heart-fill" (click)="darLike()" *ngIf="like"></i>
        </div>
        <p class="card-text  text-white">{{publi.titulo}}</p>
      </div>
      <hr class="text-white">
    </div>
  </div>
</div>

<div class="modal fade" id="modalAboutMe" tabindex="-1" aria-labelledby="modalAboutMe" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down m-auto mt-5">
    <div class="modal-content col-8 m-auto ">
      <textarea class="mt-5 col-8 m-auto" [(ngModel)]= "aboutMe" id="aboutMe" placeholder="Introduzca su presentación..."></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)= "editarUsuario()" >Realizar cambios</button>
      </div>
    </div>
  </div>
</div>