
<div class="datosUser" *ngIf="visible">
  <div class="d-flex justify-content-around flex-wrap">
    <!-- Información del usuario-->
    <div class="fotoPerfil text-center">

      <div class="">
        <img *ngIf="user.fotoPerfil" class="img" src="{{transformarAImagen(user.fotoPerfil)}}">
        <img *ngIf="!user.fotoPerfil" class="img" src="../../../assets/img/user.png">
      </div>
    </div>

    <section class="infoPerfil d-flex justify-content-around flex-wrap">

      <p class="text-center numeros">{{user.numeroPublicaciones}} Publicaciones</p> 

      <p class="text-center numeros">{{user.numeroSeguidores}}  Seguidores</p> 

      <p class="text-center numeros">{{user.numeroSeguidos}}  Seguidos</p> 

    </section>
    <div>
      <h5 class="card-title">{{user.userName}}</h5>

      <p class="card-text">{{user.aboutMe}}</p>
    </div>
    <div *ngIf="!esElMismoUsuario && !esSeguido"> <button class="d-flex flex-wrap text-center seguir" (click) = "seguir()"><p>+ Seguir</p></button></div>
    <div *ngIf="!esElMismoUsuario && esSeguido"> <button class="d-flex flex-wrap text-center dejarSeguir" (click) ="dejarDeSeguir()"><p>No seguir</p></button></div>

  </div>
<hr>
<app-mostrar-publicaciones *ngIf="visible" [usuario]= "user" ></app-mostrar-publicaciones>

</div>