<div class="separador"></div>
<div class="datosUser" *ngIf="visible">
  <div class="d-flex justify-content-around flex-wrap">
    <!-- Información del usuario-->
    <div class="fotoPerfil text-center">

      <div class="">
        <img *ngIf="user.fotoPerfil" class="img" src="{{transformarAImagen(user.fotoPerfil)}}">
        <img *ngIf="!user.fotoPerfil" class="img" src="../../../assets/img/user.png">
        <h5 class="card-title nombreUser m-auto">@{{user.userName}}</h5>
      </div>
      <hr class="d-lg-none d-xs-block">
    </div>

    <section class="infoPerfil d-flex justify-content-around flex-wrap m-auto">

      <p class="text-center numeros m-auto">{{user.numeroPublicaciones}} Publicaciones</p> 

      <p class="text-center numeros m-auto">{{user.numeroSeguidores}}  Seguidores</p> 

      <p class="text-center numeros m-auto">{{user.numeroSeguidos}}  Seguidos</p> 

    </section>
    <div class="w-100 d-flex flex-wrap m-auto">
      

      <p class="card-text text-center m-auto aboutMe  mt-3">{{user.aboutMe}}</p>
      <div class="text-center m-auto mt-3">
        <div class="form-check form-switch m-auto text-center" *ngIf="!esElMismoUsuario && !esSeguido">
          <input class="form-check-input" (click) = "seguir()" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label m-auto" for="flexSwitchCheck">Seguir</label>
        </div>
        <div class="form-check form-switch m-auto text-center" *ngIf="!esElMismoUsuario && esSeguido" >
          <input class="form-check-input" (click) ="dejarDeSeguir()" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label m-auto" for="flexSwitchCheckChecked">Seguir</label>
        </div>
      </div>
    </div>

  </div>
<hr>
<app-mostrar-publicaciones *ngIf="visible" [usuario]= "user" ></app-mostrar-publicaciones>

</div>