<div class="text-center mt-5" *ngIf="!visible">
  <img src="../../../assets/img/loading.gif" class="carga">
</div>
<div class="text-center" *ngIf="hayPublicaciones == 0">
  <h2> No hay publicaciones</h2>
</div>

<div class="d-flex flex-wrap justify-content-around" *ngIf="visible"> 
    
    <div class="card" style="width: 20rem;" *ngFor="let publi of publicaciones">
      <div class="card-head"> 
        <i class="bi bi-trash borrar mr-0" (click)="borrarPublicacion(publi)" *ngIf="comprobarSiLaPublicacionEsDelUsuarioLogueado(publi)"></i>

        <div class="d-flex">
          <img *ngIf="publi.autor.fotoPerfil" [routerLink]="[publi.autor.userName]" class="perfilComentario my-auto " src="{{transformarAImagen(publi.autor.fotoPerfil)}}">
          <img *ngIf="!publi.autor.fotoPerfil" [routerLink]="[publi.autor.userName]" class="perfilComentario my-auto " src="../../../assets/img/user.png">
          <p  class="text-white"> {{publi.autor.userName}}</p>
        </div>
        <p class="small  text-white"> {{publi.fechaPublicacion}}</p>
        </div>
      <img src="{{transformarAImagen(publi.imagen)}}" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center">
        <p class="card-title  text-white">{{publi.likes}} Likes</p> 
        <i class="bi bi-heart noGustado" *ngIf="!comprobarLike(publi)" (click)="darLike(publi)"></i>
        <i class="bi bi-heart-fill gustado" *ngIf="comprobarLike(publi)" (click)="quitarLike(publi)"></i>
        </div>
        <p class="card-text mt-0 text-white">{{publi.titulo}}</p>
      </div>
      <hr class="text-white">
      <div class="flex-wrap d-flex">
        <input type="text" class="anadirComentario text-white" [(ngModel)] ="mensajeComentario" (ngModelChange) ="comprobarLongitud()" placeholder="Añadir Comentario...">
        <i class="bi bi-cursor enviar" *ngIf="longitudComentario <= 30 && longitudComentario > 0" (click) ="publicarComentario(publi)"></i>
        <i class="bi bi-cursor enviarDesactivado" *ngIf="longitudComentario > 30 || longitudComentario <= 0"></i>
        <span class="contadorVerde" *ngIf="longitudComentario <= 30 && longitudComentario > 0"> {{longitudComentario}}/30</span>
        <span class="contadorRojo" *ngIf="longitudComentario > 30 || longitudComentario <= 0"> {{longitudComentario}}/30</span>
      </div>
      <hr class="text-white">
      <div class="scroll ">
        <div class="d-flex mb-0"  *ngFor="let coment of publi.comentarios">
          <img *ngIf="coment.autor.fotoPerfil" routerLink="/main/usuario/{{coment.autor.userName}}" class="perfilComentario my-auto" src="{{transformarAImagen(coment.autor.fotoPerfil)}}">
          <img *ngIf="!coment.autor.fotoPerfil" [routerLink]="[coment.autor.userName]" class="perfilComentario my-auto" src="../../../assets/img/user.png">
          <p class="autorComent">{{coment.autor.userName}}:  </p>
          <p class="comentario">{{coment.cuerpoComentario}}</p>
        </div>
      </div>
    </div>
</div>