/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
body{
    font-family: 'Contrail One';
}

.swal2-styled.swal2-confirm{
    background-color: #000000 !important;
    color: #fff !important;
}
.swal2-styled.swal2-confirm:hover{
    background-color: #535353 !important;
    color: #fff !important;
}

.swal2-popup{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: solid 3px #000000 !important;
}

body{
    background-image: url(./assets/img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
}