
<div class="separador"></div>
<div class="tarjetaFormulario text-center col-10 col-lg-6 mt-2 m-auto">
        

  <div class="card m-auto mt-3" style="width: 20rem;" *ngIf="visible">
    <div class="card-head"> 
      <div class="d-flex">
        <img class="img my-auto" *ngIf="user.fotoPerfil"src={{transformarAImagen(user.fotoPerfil)}} >
        <img class="img my-auto " *ngIf="!user.fotoPerfil" src="../../../assets/img/user.png">
        <p  class="text-white">{{user.userName}}</p>
      </div>
    </div>
    <form (submit) ="subirImagen()" class="form" [formGroup]="formularioPublicacion">
      <label for="input">
        <p class="text-white">Selecciona la foto de tu publicación: </p>
        <img src={{imageURL}} type="file" class="m-auto imagen"/>
      </label >
      
      <input type="file" id="input" (change) ="obtenerFile($event)" formControlName="imagen" name="imagen">
      <span class="form-text text-danger" *ngIf="formularioPublicacion.controls['imagen'].errors && formularioPublicacion.controls['imagen'].touched"> Es necesario añadir un título</span>
      <div class="card-body mt-4">
        <input type="text" class="titulo form-control form-control-lg text-center" formControlName="titulo" name="titulo" placeholder="Añadir titulo...">
        <span class="form-text text-danger" *ngIf="formularioPublicacion.controls['titulo'].errors && formularioPublicacion.controls['titulo'].touched"> Es necesario añadir un título</span>  
      </div>
      <hr class="text-white"><div class="col-sm-9 img-upload m-auto">
        <input class=" btn btn-dark btn-lg btn-block" [disabled]="formularioPublicacion.invalid" type="submit" value="Publicar">
      </div>
    </form>
    
  </div>
</div>





